.index{
  height: 100%;
}
.wheel{
  height: 100%;
  .pointer{
    position: absolute;
    width: 31%;
    height: 31%;
    left: 34.7%;
    top: 30.3%;
    cursor: pointer;
  }
  img{
    max-width: 100%;
  }
}